* {
    box-sizing: border-box;
}


.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 10%;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.container {
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.qr-code {
    width: 100%; /* Add this */
    margin-bottom: 20px;
    border-radius: 10px; /* Matched to container for consistency */
}


.title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.description {
    font-size: 14px;
    color: hsl(220, 15%, 55%);
    text-align: center;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body {
    font-family: outfit, sans-serif;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}